<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazon Admin Page</title>
</head>
<body>
<script>
function reload(){
    var lastImg=document.getElementById("lastImg").value
    window.location.href="/reload/?pwd=123&lastImg="+lastImg;
}
</script>

<h1>Welcome to Amazon Admin Page.</h1><br/>


Delete:  <a href="/delete">Delete All pictures</a><br/>

Add:  <a href="/add">Add Pictures</a><br/>

Continue with the last interrupt addition:  <input type="text" id="lastImg" value="{{ last }}"/> <a href="#" onclick="reload()">Continue adding images</a><br/>

Update Notice:  <a href="/vnotice">Update Notice</a><br/>

</body>
</html>


