<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>{{ notice }}</h1>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <h3>Choose your search picture</h3>
    <input type="file" name="image_data" multiple>
    <input type="submit" value="Search">
</form>
<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <h3>Choose your search picture</h3>
    <input type="hidden" name="all_orientations" value="true">
    <input type="file" name="image_data" multiple>
    <input type="submit" value="Search(rotation)"> Search for all combinations of mirroring, rotation, and color inversion, but it takes longer.
</form>
<br/>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <h3>Choose your search picture</h3>
    <input type="hidden" name="all_orientations" value="true">
    <input type="file" name="image_data" multiple>
	Matching Rate
	<select name="image_match">
	  <option>0.7</option>
	  <option selected="selected">0.6</option>
	  <option>0.5</option>
	  <option>0.4</option>
	</select>
    <input type="submit" value="Double Search(rotation)"> The larger the value of matching degree, the larger the range of matching
</form>
</body>
</html>