<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h1>{{ notice }}</h1>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <h3>选择你要搜索的图片</h3>
    <input type="file" name="image_data" multiple>
    <input type="submit" value="搜索">
</form>
<form action="/upload/" method="post" enctype="multipart/form-data">
    <h3>选择你要搜索的图片</h3>
    <input type="hidden" name="all_orientations" value="true">
    <input type="file" name="image_data" multiple>
    <input type="submit" value="搜索(旋转)"> 搜索镜像、旋转和颜色反转的所有组合，但是耗时更长。
</form>
</body>
</html>